* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 750);
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  color: inherit;
  /* 去掉下划线 */
  text-decoration: none;
}